@charset "UTF-8";

body{
    background-color: rgb(128, 125, 125);
}

h1{
    text-decoration: underline;
    font-family: Arial;
    color: rgb(255, 0, 0);
}

h2 {
    text-decoration: underline;
    font-family: 'Courier New';
    color:brown;
}

p{
    color: rgb(161, 0, 0);
    text-decoration: underline;
}

section#menu {
    padding: 10px;
}

section#menu ul{
    
    position: absolute;
    list-style: none; 
    margin-top: 0%;
}

section#menu li{
    display: inline;
    padding: 5px;
    background-color: rgb(255, 2, 2);

}


section#sua_mae h3{
    font-family: Impact;
    color: black;
}

section#sua_mae p{
    font-family: Arial;
    color: rgb(rgb(138, 24, 24), rgb(34, 80, 34), rgb(1, 1, 85));
}

section#teste h2{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

section#teste p{
    text-decoration: underline;
}

section#produtos ul{
    list-style: none;
    padding: 5px;
    padding-top: 10px;
}

section#produtos li{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(238, 255, 0);
    font-size: x-large;
    box-shadow: 3px;
}